In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import ast

In [7]:
df = pd.read_json('nuevos_datos.json')

Estructura y detalles del dataframe

In [8]:
df.shape

(32135, 8)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32135 entries, 0 to 32134
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28852 non-null  object
 1   app_name      32133 non-null  object
 2   release_date  29783 non-null  object
 3   specs         31465 non-null  object
 4   price         30758 non-null  object
 5   early_access  32135 non-null  bool
 6   sentiment     24953 non-null  object
 7   metascore     2677 non-null   object
dtypes: bool(1), object(7)
memory usage: 2.0+ MB

In [10]:
df.columns

Index(['genres', 'app_name', 'release_date', 'specs', 'price', 'early_access',
       'sentiment', 'metascore'],
      dtype='object')

Valores faltantes por columna

In [11]:
df.isna().sum()

genres           3283
app_name            2
release_date     2352
specs             670
price            1377
early_access        0
sentiment        7182
metascore       29458
dtype: int64

In [12]:
df.describe()

,genres,app_name,release_date,specs,price,early_access,sentiment,metascore
count,28852,32133,29783,31465,30758.00,32135,24953,2677
unique,883,32094,3457,4649,162.00,2,18,71
top,[Action],Soundtrack,2012-10-16,[Single-player],4.99,False,Mixed,80
freq,1880,3,100,2794,4278.00,30188,4103,125

Hacemos una copia del dataframe original para trabajar sobre el mismo

In [13]:
df_eda = df[['genres','app_name','release_date','specs','price','early_access','sentiment', 'metascore']].copy()

In [19]:
df_eda.head()

,genres,app_name,release_date,specs,price,early_access,sentiment,metascore
28,[Action],Half-Life,1998-11-08,"[Single-player, Multi-player, Valve Anti-Cheat...",9.99,False,Overwhelmingly Positive,96
39,[Strategy],Disciples II: Gallean's Return,2006-07-06,"[Single-player, Multi-player, Co-op]",6.99,False,Mostly Positive,84
40,[Strategy],Disciples II: Rise of the Elves,2006-07-06,"[Single-player, Multi-player, Co-op]",6.99,False,Very Positive,80
41,"[Action, Indie, RPG]",The Ship: Murder Party,2006-07-11,"[Single-player, Multi-player, Steam Trading Ca...",9.99,False,Very Positive,76
55,[Action],Advent Rising,2005-08-09,"[Single-player, Steam Trading Cards]",9.99,False,Mostly Positive,70

In [15]:
df_eda.dropna(subset=['metascore'], inplace = True)

In [18]:
df_eda.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2677 entries, 28 to 32117
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        2613 non-null   object
 1   app_name      2677 non-null   object
 2   release_date  2615 non-null   object
 3   specs         2673 non-null   object
 4   price         2651 non-null   object
 5   early_access  2677 non-null   bool
 6   sentiment     2655 non-null   object
 7   metascore     2677 non-null   object
dtypes: bool(1), object(7)
memory usage: 169.9+ KB

In [33]:
genre_frequency = df_eda['genres'].value_counts()
print(genre_frequency)

genres
[Action]                                     301
[Adventure, Indie]                           208
[Strategy]                                   204
[Action, Indie]                              180
[Action, Adventure, Indie]                   141
                                            ...
[Action, Adventure, RPG, Strategy]             1
[Casual, Free to Play, Indie, Simulation]      1
[Free to Play, RPG, Strategy]                  1
[Action, Indie, Racing, Sports]                1
[Strategy, Action, Indie]                      1
Name: count, Length: 203, dtype: int64

In [ ]:
# Generar un gráfico de barras
plt.figure(figsize=(10, 6))  # Tamaño del gráfico
genre_frequency.plot(kind='bar')  # Tipo de gráfico de barras
plt.title('Frecuencia de Géneros de Juegos')  # Título del gráfico
plt.xlabel('Género')  # Etiqueta del eje x
plt.ylabel('Frecuencia')  # Etiqueta del eje y
plt.xticks(rotation=45)  # Rotación de las etiquetas en el eje x
plt.tight_layout()  # Ajustar el diseño del gráfico
plt.show()  # Mostrar el gráfico

In [21]:
df_eda['app_name'].value_counts()

app_name
Wolfenstein II: The New Colossus                  2
Batman: Arkham City - Game of the Year Edition    2
Altitude                                          2
Warhammer Quest                                   2
Half-Life                                         1
                                                 ..
Hyper Light Drifter                               1
The Minims                                        1
Anna's Quest                                      1
Good Robot                                        1
Counter-Strike: Condition Zero                    1
Name: count, Length: 2673, dtype: int64

In [22]:
df_eda['release_date'].value_counts()

release_date
2015-05-26    8
2013-09-05    8
2016-07-12    7
2014-09-18    7
2016-08-30    7
             ..
2016-06-15    1
2016-06-10    1
2016-05-30    1
2016-05-10    1
2004-03-01    1
Name: count, Length: 1693, dtype: int64

In [23]:
df_eda['specs'].value_counts()

specs
[Single-player]                                                                                                                                                                                          345
[Single-player, Steam Achievements, Full controller support, Steam Trading Cards, Steam Cloud]                                                                                                           151
[Single-player, Multi-player]                                                                                                                                                                            124
[Single-player, Steam Achievements, Steam Trading Cards, Steam Cloud]                                                                                                                                     77
[Single-player, Steam Achievements]                                                                                                                                                                       70
                                                                                                                                                                                                        ...
[Single-player, Multi-player, Online Multi-Player, In-App Purchases, Steam Cloud]                                                                                                                          1
[Single-player, Includes level editor]                                                                                                                                                                     1
[Single-player, Online Multi-Player, Online Co-op, Cross-Platform Multiplayer, Downloadable Content, Steam Achievements, Full controller support, Steam Trading Cards, In-App Purchases, Steam Cloud]      1
[Multi-player, MMO, Steam Achievements, Full controller support]                                                                                                                                           1
[Online Multi-Player, Steam Achievements, Full controller support, Steam Trading Cards, Steam Cloud]                                                                                                       1
Name: count, Length: 816, dtype: int64

In [24]:
df_eda['early_access'].value_counts()

early_access
False    2675
True        2
Name: count, dtype: int64

In [25]:
df_eda['sentiment'].value_counts()

sentiment
Very Positive              1153
Mixed                       541
Mostly Positive             511
Overwhelmingly Positive     169
Positive                    124
Mostly Negative              56
7 user reviews               13
2 user reviews               13
3 user reviews               10
1 user reviews               10
6 user reviews                9
8 user reviews                9
4 user reviews                9
9 user reviews                8
Negative                      7
5 user reviews                6
Very Negative                 5
Overwhelmingly Negative       2
Name: count, dtype: int64